@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');
:root {
    font-size: 16px;
    font-family: 'Hammersmith One', sans-serif;
    --text-primary: #b6b6b6;
    --bg-primary: #111111;
    --transition-speed: 600ms;
    --gradient-first: #8470ba;
    --gradient-second: #3606bc;
  }

body,
html {
    background-color: var(--bg-primary);
    color: var(--text-primary);
    height: 100%; 
}

/* HEADINGS */ 
#main-heading {
    border-top: solid;
}

#about-me h1 {
    font-family: 'Hammersmith One', sans-serif;
}

#second-heading {
    font-family: monospace;
    font-size: 25px;
    display: flex;
    width: 25%;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}

#second-heading:before,
#second-heading:after {
    content: '';
    border-top: 2px solid;
    margin: 0 20px 0 0;
    flex: 1 0 20px;
}

#second-heading:after {
    margin: 0 0 0 20px;
}

#third-heading h1 {
    max-width: 1034px;
    display: flex;
    font-size: 25px;
    font-family: monospace;
    width: 100%;
    margin-top: 30px
}


#third-heading h1:after {
    content: '';
    border-top: 2px solid;
    margin: 0 20px 0 0;
    flex: 1 0 20px;
}

#third-heading h1:after {
    margin: 15px 0 0 10px;
}

#fourth-heading h1 {
    max-width: 1034px;
    display: flex;
    font-size: 25px;
    font-family: monospace;
    width: 100%;
    margin-top: 30px
}


#fourth-heading h1:after {
    content: '';
    border-top: 2px solid;
    margin: 0 20px 0 0;
    flex: 1 0 20px;
}

#fourth-heading h1:after {
    margin: 15px 0 0 10px;
}

/* ---------------------------------- */

/* NAVBAR */

.navbar {
    position: fixed;
    background-color: var(--bg-primary); 
    width: 5rem;
    height: 100vh;
    transition: width 600ms ease;
  }
  
  .navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
  
  .nav-item {
    width: 100%;
  }
  
  
  .navbar:hover {
    width: 16rem;
  }
  
  .nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
  }
  
  .nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secondary);
  }
  
  .link-text {
    display: none;
    margin-left: 1rem;
  }
  
  .nav-link svg {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
  }
  
  .fa-primary {
    color: #ff7eee;
  }
  
  .fa-secondary {
    color: #df49a6;
  }
  
  .fa-primary,
  .fa-secondary {
    transition: var(--transition-speed);
  }
  
  .logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secondary);
    background: var(--bg-secondary);
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 0.3ch;
    width: 100%;
  }
  
  .logo svg {
    transform: rotate(0deg);
    transition: var(--transition-speed);
  }
  
  .logo-text
  {
    display: inline;
    position: absolute;
    left: -999px;
    transition: var(--transition-speed);
  }
  
  .navbar:hover .logo svg {
    transform: rotate(-180deg);
  }

 
/* ---------------------------------- */


/* EFFECTS */

.gray-text {
    color: gray;
}

.gradiant-effect {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 6rem;
    font-weight: 100;
    letter-spacing: 2px;
    text-align: center;
    color: #8470ba;
    background-image: -webkit-linear-gradient(92deg, var(--gradient-first), var(--gradient-second));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: hue 10s infinite linear;
}

.hue-bold {
    color: #8470ba;
    background-image: -webkit-linear-gradient(92deg, var(--gradient-first), var(--gradient-second));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: hue 10s infinite linear;
}

/* SCROLLBAR STUFF */

::-webkit-scrollbar {
  width: 10px !important;
  display: block !important;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1e1e1e !important;  
  border-radius: 10px !important;
  display: block !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: -webkit-linear-gradient(92deg, var(--gradient-first), var(--gradient-second)) !important;
  border-radius: 3px; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: -webkit-linear-gradient(92deg, var(--gradient-first), var(--gradient-second)) !important; 
}
/*---------------------------------------------------------*/

/* OTHER */

#main-box {
    margin: 0 auto;
    width: 90%;
    padding-top: 20px;
}

#about-me .name-heading {
    max-width: 50rem;
}

#about-me div div img {
    width: 10rem;
    height: 10rem;
    border-radius: 5rem;
    border: 3px solid;
}

.skills-icon {
    font-size: 3rem;
    color: gray;
    margin-left: 1rem;
    margin-right: 1rem;
    transition: all .3s;
}

.skills-icon:hover {
    transform: scale(1.1);
    color: #02aab0;
    background-image: -webkit-linear-gradient(92deg, #02aab0, #00cdac);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: hue 10s infinite linear;
}

  
.tippy-box[data-theme~='gradiant'] {
    color: white;
    background-color: transparent;
    opacity: 0.7;
}

.card {
    border-radius: 5px;
    background-color: #181818;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
      transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  cursor: pointer;
}

.card:hover{
    transform: scale(1.1);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
    background-image: -webkit-linear-gradient(92deg, #02aab0, #00cdac);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: hue 10s infinite linear;
}

.card-text {
    color: gray;
}

/* -------------------------- */

/* ALL LINKS */

a{
    text-decoration:none;
}

/* -------------------------- */

/* CONNECT WITH ME */

#connect {
    font-family: monospace;
    font-size: 25px;
    display: flex;
    width: 25%;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}

#connect:before,
#connect:after {
    content: '';
    border-top: 2px solid;
    margin: 0 20px 0 0;
    flex: 1 0 20px;
}

#connect:after {
    margin: 0 0 0 20px;
}

.connect-elements{
    font-size: 3rem;
    color: gray;
    margin-left: 1rem;
    margin-right: 1rem;
    transition: all .3s;
}

.connect-elements:hover {
    transform: scale(1.1);
    color: #02aab0;
    background-image: -webkit-linear-gradient(92deg, #02aab0, #00cdac);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: hue 10s infinite linear;
}
/* -------------------------- */

/* FOOTER */

.sticky__footer {
    background-color: var(--darker-bg);
    font-family: "Montserrat", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;
    color: #fff;
  }

/* -------------------------- */

/* ANIMATION */


@-webkit-keyframes hue {
    from {
        -webkit-filter: hue-rotate(0deg);
    }

    to {
        -webkit-filter: hue-rotate(-360deg);
    }
}


/* Small screens */
@media only screen and (max-width: 600px) {
    .navbar {
      bottom: 0;
      width: 100vw;
      height: 5rem;
    }
  
    .logo {
      display: none;
    }
  
    .navbar-nav {
      flex-direction: row;
    }
  
    .nav-link {
      justify-content: center;
    }
  
    main {
      margin: 0;
    }
  }
  
  /* Large screens */
  @media only screen and (min-width: 600px) {
    .navbar {
      top: 0;
      width: 5rem;
      height: 100vh;
    }
  
  
    .navbar:hover .link-text {
      display: inline;
    }
  
    .navbar:hover .logo svg
    {
      margin-left: 11rem;
    }
  
    .navbar:hover .logo-text
    {
      left: 0px;
    }
  }
  