@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');

body,
html {
    background-color: #111111;
    color: white;
    height: 100%; 
}

/* HEADINGS */ 
#main-heading {
    border-top: solid;
}

#about-me h1 {
    font-family: 'Hammersmith One', sans-serif;
}

#second-heading {
    font-family: monospace;
    font-size: 25px;
    display: flex;
    width: 25%;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}

#second-heading:before,
#second-heading:after {
    content: '';
    border-top: 2px solid;
    margin: 0 20px 0 0;
    flex: 1 0 20px;
}

#second-heading:after {
    margin: 0 0 0 20px;
}

#third-heading h1 {
    max-width: 1034px;
    display: flex;
    font-size: 25px;
    font-family: monospace;
    width: 100%;
    margin-top: 30px
}


#third-heading h1:after {
    content: '';
    border-top: 2px solid;
    margin: 0 20px 0 0;
    flex: 1 0 20px;
}

#third-heading h1:after {
    margin: 15px 0 0 10px;
}

#fourth-heading h1 {
    max-width: 1034px;
    display: flex;
    font-size: 25px;
    font-family: monospace;
    width: 100%;
    margin-top: 30px
}


#fourth-heading h1:after {
    content: '';
    border-top: 2px solid;
    margin: 0 20px 0 0;
    flex: 1 0 20px;
}

#fourth-heading h1:after {
    margin: 15px 0 0 10px;
}

/* ---------------------------------- */

/* SIDEBAR */

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111111;
    overflow-x: hidden;
    padding-top: 60px;
    transition: width 600ms ease;
  }
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
    background-color: #b8b8b8;
    
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .openbtn {
    font-size: 25px;
    font-family: 'Hammersmith One', sans-serif;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #b8b8b8;
  }
  
  #sidebox {
    transition: margin-left .5s;
    padding: 16px;
  }
  
 
/* ---------------------------------- */


/* EFFECTS */

.gray-text {
    color: gray;
}

.gradiant-effect {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 6rem;
    font-weight: 100;
    letter-spacing: 2px;
    text-align: center;
    color: #8470ba;
    background-image: -webkit-linear-gradient(92deg, #8470ba,  #3606bc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: hue 10s infinite linear;
}

.hue-bold {
    color: #8470ba;
    background-image: -webkit-linear-gradient(92deg, #8470ba,  #3606bc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: hue 10s infinite linear;
}

/* SCROLLBAR STUFF */

::-webkit-scrollbar {
  width: 10px !important;
  display: block !important;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1e1e1e !important;  
  border-radius: 10px !important;
  display: block !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: -webkit-linear-gradient(92deg, #8470ba,  #3606bc) !important;
  border-radius: 3px; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: -webkit-linear-gradient(92deg, #8470ba,  #3606bc) !important; 
}
/*---------------------------------------------------------*/

/* OTHER */

#main-box {
    margin: 0 auto;
    width: 90%;
    padding-top: 20px;
}

#about-me .name-heading {
    max-width: 50rem;
}

#about-me div div img {
    width: 10rem;
    height: 10rem;
    border-radius: 5rem;
    border: 3px solid;
}

.skills-icon {
    font-size: 3rem;
    color: gray;
    margin-left: 1rem;
    margin-right: 1rem;
    transition: all .3s;
}

.skills-icon:hover {
    transform: scale(1.1);
    color: #02aab0;
    background-image: -webkit-linear-gradient(92deg, #02aab0, #00cdac);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: hue 10s infinite linear;
}

  
.tippy-box[data-theme~='gradiant'] {
    color: white;
    background-color: transparent;
    opacity: 0.7;
}

.card {
    border-radius: 5px;
    background-color: #181818;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
      transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  cursor: pointer;
}

.card:hover{
    transform: scale(1.1);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
    background-image: -webkit-linear-gradient(92deg, #02aab0, #00cdac);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: hue 10s infinite linear;
}

.card-text {
    color: gray;
}

/* -------------------------- */

/* ALL LINKS */

a{
    text-decoration:none;
}

/* -------------------------- */

/* CONNECT WITH ME */

#connect {
    font-family: monospace;
    font-size: 25px;
    display: flex;
    width: 25%;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}

#connect:before,
#connect:after {
    content: '';
    border-top: 2px solid;
    margin: 0 20px 0 0;
    flex: 1 0 20px;
}

#connect:after {
    margin: 0 0 0 20px;
}

.connect-elements{
    font-size: 3rem;
    color: gray;
    margin-left: 1rem;
    margin-right: 1rem;
    transition: all .3s;
}

.connect-elements:hover {
    transform: scale(1.1);
    color: #02aab0;
    background-image: -webkit-linear-gradient(92deg, #02aab0, #00cdac);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: hue 10s infinite linear;
}
/* -------------------------- */

/* FOOTER */

.sticky__footer {
    background-color: var(--darker-bg);
    font-family: "Montserrat", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;
    color: #fff;
  }

/* -------------------------- */

/* ANIMATION */


@-webkit-keyframes hue {
    from {
        -webkit-filter: hue-rotate(0deg);
    }

    to {
        -webkit-filter: hue-rotate(-360deg);
    }
}

/* --------------- */

/* FOR MOBILE */

@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }
  